/* Modern CSS reset by Josh Comeau: https://www.joshwcomeau.com/css/custom-css-reset/ * /
/* 1. Use a more-intuitive box-sizing model.  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* custom CSS by Jack B. Du */
:root {
  font-size: 1vmin;
  --color-background-light: #fff;
  --color-background-dark: #000;
  --color-regular-light: #000;
  --color-regular-dark: #fff;
  --color-info-light: #000;
  --color-info-dark: #fff;
  --color-button-light: #888;
  --color-button-dark: #888;
  --color-button-highlighted-light: #000;
  --color-button-highlighted-dark: #fff;
  --color-toggle-on-light: #000;
  --color-toggle-on-dark: #fff;
  --color-toggle-off-light: #bbb;
  --color-toggle-off-dark: #555;
  --font-family: Courier, monospace;
  --z-index-content-active: 0;
  --z-index-content-inactive: -1;
  --z-index-clickable: 2;
  --transition-duration-fast: 0.2s;
  --transition-duration-medium: 0.5s;
  --transition-duration-slow: 2s;
  --transition-timing-function-appear: ease-in;
  --transition-timing-function-interact: ease;
  --transition-delay-fast: 0.2s;
}
body {
  --color-background: var(--color-background-light);
  --color-regular: var(--color-regular-light);
  --color-info: var(--color-info-light);
  --color-button: var(--color-button-light);
  --color-button-highlighted: var(--color-button-highlighted-light);
  --color-toggle-on: var(--color-toggle-on-light);
  --color-toggle-off: var(--color-toggle-off-light);
}
body.dark {
  --color-background: var(--color-background-dark);
  --color-regular: var(--color-regular-dark);
  --color-info: var(--color-info-dark);
  --color-button: var(--color-button-dark);
  --color-button-highlighted: var(--color-button-highlighted-dark);
  --color-toggle-on: var(--color-toggle-on-dark);
  --color-toggle-off: var(--color-toggle-off-dark);
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: var(--font-family);
  text-transform: uppercase;
  background-color: var(--color-background);
  color: var(--color-regular);
  transition:
    background var(--transition-delay-fast) var(--transition-timing-function-appear),
    color var(--transition-delay-fast) var(--transition-timing-function-appear);
}
div.ui {
  font-size: 3rem;
  line-height: 2em;
}
div.ui div.panel.credits {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-background);
  padding: 8em 4em;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-clickable);
}
div.ui.showCredits div.panel.credits {
  transition:
    opacity var(--transition-duration-fast) var(--transition-timing-function-appear),
    background-color var(--transition-duration-fast) var(--transition-timing-function-appear);
  visibility: visible;
  opacity: 1;
}
div.ui ul.panel a.sound span {
  display: none;
}
div.ui ul.panel a.sound.on span.on,
div.ui ul.panel a.sound.off span.off {
  display: inline-block;
}
div.ui div.panel a {
  color: var(--color-regular);
  transition:
    color var(--transition-duration-fast) var(--transition-timing-function-interact),
    text-shadow var(--transition-duration-fast) var(--transition-timing-function-interact);
}
div.ui ul.panel {
  position: fixed;
  padding: 2em;
  margin: 0;
  z-index: var(--z-index-clickable);
  list-style: none;
}
div.ui ul.panel.info {
  color: var(--color-info);
}
div.ui ul.panel.toggles {
  text-align: right;
}
div.ui ul.panel.stats {
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-duration-medium) var(--transition-timing-function-appear);
}
body.playing div.ui ul.panel.stats {
  visibility: visible;
  opacity: 1;
}
div.ui.showCredits ul.panel.toggles a.credits,
div.ui ul.panel.toggles a,
body.dark div.ui ul.panel.toggles a,
div.ui ul.panel.toggles span.dark,
body.dark div.ui ul.panel.toggles span.light {
  color: var(--color-toggle-off);
  transition:
    color var(--transition-duration-fast) var(--transition-timing-function-interact),
    text-shadow var(--transition-duration-fast) var(--transition-timing-function-interact);
}
div.ui ul.panel a.sound.on span.on,
div.ui.showCredits ul.panel.toggles a.credits,
div.ui ul.panel.toggles span.light,
body.dark div.ui ul.panel.toggles span.dark {
  color: var(--color-toggle-on);
  transition:
    color var(--transition-duration-fast) var(--transition-timing-function-interact),
    text-shadow var(--transition-duration-fast) var(--transition-timing-function-interact);
}
div.scenes,
div.scene {
  width: 100%;
  height: 100%;
}
div.scene {
  visibility: hidden;
  z-index: var(--z-index-content-inactive);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 5rem;
  justify-content: center;
}
div.scene.active {
  visibility: visible;
  z-index: var(--z-index-content-active);
}
div.scene div.content,
div.scene div.buttons {
  opacity: 0;
}
div.scene.active div.content,
div.scene.active div.buttons {
  opacity: 1;
  transition: opacity var(--transition-duration-medium) var(--transition-timing-function-appear);
}
div.scene.active div.buttons {
  transition:
    visibility var(--transition-delay-fast) var(--transition-duration-medium) var(--transition-timing-function-appear),
    opacity var(--transition-delay-fast) var(--transition-duration-medium) var(--transition-timing-function-appear);
  z-index: var(--z-index-clickable);
}
div.buttons button.option {
  text-transform: uppercase;
  border: none;
  background: none;
  position: absolute;
  font-size: 4rem;
  width: 30vw;
  height: 40vh;
}
div.buttons button.option {
  color: var(--color-button);
  transition:
    color var(--transition-duration-fast) var(--transition-timing-function-interact),
    text-shadow var(--transition-duration-fast) var(--transition-timing-function-interact),
    opacity var(--transition-duration-slow) var(--transition-timing-function-interact);
}
div.buttons button.option.hidden {
  display: none;
}
div.buttons button.option.secret {
  opacity: 0;
  transition-duration: var(--transition-duration-slow);
}
div.buttons button.option:hover,
div.ui ul.panel.toggles a:hover,
div.ui div.panel a:hover,
body.dark div.ui ul.panel.toggles a:hover,
div.ui ul.panel.toggles a:hover span.light,
div.ui ul.panel.toggles a:hover span.dark {
  cursor: pointer;
  color: var(--color-button-highlighted);
  text-shadow: 0 0 1rem var(--color-button-highlighted);
  opacity: 1;
}
div.buttons button.center,
div.ui ul.center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  text-align: center;
}
div.buttons button.top,
div.ui ul.top {
  bottom: auto;
  top: 0;
}
div.buttons button.bottom,
div.ui ul.bottom {
  top: auto;
  bottom: 0;
}
div.buttons button.left,
div.ui ul.left {
  right: auto;
  left: 0;
}
div.buttons button.right,
div.ui ul.right {
  left: auto;
  right: 0;
}
