html,
body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 1vmin;
  color: #000;
  width: 100%;
  height: 100%;
  font-family: Courier, monospace;
  text-transform: uppercase;
}
div.info {
  font-size: 3rem;
  line-height: 2em;
}
div.info ul.panel {
  position: fixed;
  padding: 2em;
  margin: 0;
}
div.info li.item {
  list-style: none;
}
div.info li.item#warning {
  color: red;
}
div.scenes,
div.scene {
  width: 100%;
  height: 100%;
}
div.scene {
  visibility: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 5rem;
  justify-content: center;
}
div.scene.active {
  visibility: visible;
  z-index: 1;
}
div.scene div.content,
div.scene div.buttons {
  opacity: 0;
}
div.scene.active div.content,
div.scene.active div.buttons {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
div.scene.active div.buttons {
  transition:
    visibility 0.2s 0.5s ease-in,
    opacity 0.2s 0.5s ease-in;
  z-index: 2;
}
div.buttons button.option {
  text-transform: uppercase;
  font-family: Courier, monospace;
  border: none;
  background: none;
  position: absolute;
  font-size: 4rem;
  color: #888;
  width: 30vw;
  height: 40vh;
  transition:
    color 0.2s ease,
    text-shadow 0.2s ease,
    opacity 2s ease;
}
div.buttons button.option.secret {
  opacity: 0;
  transition-duration: 2s;
}
div.buttons button.option:hover {
  cursor: pointer;
  color: #000;
  text-shadow: 0 0 1rem #000;
  opacity: 1;
}
div.buttons button.center,
div.info ul.center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  text-align: center;
}
div.buttons button.top,
div.info ul.top {
  bottom: auto;
  top: 0;
}
div.buttons button.bottom,
div.info ul.bottom {
  top: auto;
  bottom: 0;
}
div.buttons button.left,
div.info ul.left {
  right: auto;
  left: 0;
}
div.buttons button.right,
div.info ul.right {
  left: auto;
  right: 0;
}
