:root {
  font-size: 1vmin;
  --color-background-light: #fff;
  --color-background-dark: #000;
  --color-regular-light: #000;
  --color-regular-dark: #fff;
  --color-info-light: #000;
  --color-info-dark: #fff;
  --color-button-light: #888;
  --color-button-dark: #888;
  --color-button-highlighted-light: #000;
  --color-button-highlighted-dark: #fff;
  --color-toggle-on-light: #000;
  --color-toggle-on-dark: #fff;
  --color-toggle-off-light: #bbb;
  --color-toggle-off-dark: #555;
  --font-family: Courier, monospace;
  --z-index-content-active: 0;
  --z-index-content-inactive: -1;
  --z-index-clickable: 1;
  --transition-duration-fast: 0.2s;
  --transition-duration-medium: 0.5s;
  --transition-duration-slow: 2s;
  --transition-timing-function-appear: ease-in;
  --transition-timing-function-interact: ease;
  --transition-delay-fast: 0.2s;
}
body {
  --color-background: var(--color-background-light);
  --color-regular: var(--color-regular-light);
  --color-info: var(--color-info-light);
  --color-button: var(--color-button-light);
  --color-button-highlighted: var(--color-button-highlighted-light);
  --color-toggle-on: var(--color-toggle-on-light);
  --color-toggle-off: var(--color-toggle-off-light);
}
body.dark {
  --color-background: var(--color-background-dark);
  --color-regular: var(--color-regular-dark);
  --color-info: var(--color-info-dark);
  --color-button: var(--color-button-dark);
  --color-button-highlighted: var(--color-button-highlighted-dark);
  --color-toggle-on: var(--color-toggle-on-dark);
  --color-toggle-off: var(--color-toggle-off-dark);
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: var(--font-family);
  text-transform: uppercase;
  background-color: var(--color-background);
  color: var(--color-regular);
  transition:
    background var(--transition-delay-fast) var(--transition-timing-function-appear),
    color var(--transition-delay-fast) var(--transition-timing-function-appear);
}
div.ui ul.panel.stats {
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-duration-medium) var(--transition-timing-function-appear);
}
body.playing div.ui ul.panel.stats {
  visibility: visible;
  opacity: 1;
}
div.ui {
  font-size: 3rem;
  line-height: 2em;
}
div.ui ul.panel {
  position: fixed;
  padding: 2em;
  margin: 0;
  z-index: var(--z-index-clickable);
}
div.ui li.item {
  list-style: none;
}
div.ui li.item#info {
  color: var(--color-info);
}
div.ui li.item a,
body.dark div.ui li.item a,
div.ui li.item span.dark,
body.dark div.ui li.item span.light {
  color: var(--color-toggle-off);
  transition:
    color var(--transition-duration-fast) var(--transition-timing-function-interact),
    text-shadow var(--transition-duration-fast) var(--transition-timing-function-interact);
}
div.ui li.item span.light,
body.dark div.ui li.item span.dark {
  color: var(--color-toggle-on);
  transition:
    color var(--transition-duration-fast) var(--transition-timing-function-interact),
    text-shadow var(--transition-duration-fast) var(--transition-timing-function-interact);
}
div.scenes,
div.scene {
  width: 100%;
  height: 100%;
}
div.scene {
  visibility: hidden;
  z-index: var(--z-index-content-inactive);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 5rem;
  justify-content: center;
}
div.scene.active {
  visibility: visible;
  z-index: var(--z-index-content-active);
}
div.scene div.content,
div.scene div.buttons {
  opacity: 0;
}
div.scene.active div.content,
div.scene.active div.buttons {
  opacity: 1;
  transition: opacity var(--transition-duration-medium) var(--transition-timing-function-appear);
}
div.scene.active div.buttons {
  transition:
    visibility var(--transition-delay-fast) var(--transition-duration-medium) var(--transition-timing-function-appear),
    opacity var(--transition-delay-fast) var(--transition-duration-medium) var(--transition-timing-function-appear);
  z-index: var(--z-index-clickable);
}
div.buttons button.option {
  text-transform: uppercase;
  font-family: var(--font-family);
  border: none;
  background: none;
  position: absolute;
  font-size: 4rem;
  width: 30vw;
  height: 40vh;
}
div.buttons button.option {
  color: var(--color-button);
  transition:
    color var(--transition-duration-fast) var(--transition-timing-function-interact),
    text-shadow var(--transition-duration-fast) var(--transition-timing-function-interact),
    opacity var(--transition-duration-slow) var(--transition-timing-function-interact);
}
div.buttons button.option.hidden {
  display: none;
}
div.buttons button.option.secret {
  opacity: 0;
  transition-duration: var(--transition-duration-slow);
}
div.buttons button.option:hover,
div.ui li.item a:hover,
body.dark div.ui li.item a:hover,
div.ui li.item a:hover span.light,
div.ui li.item a:hover span.dark {
  cursor: pointer;
  color: var(--color-button-highlighted);
  text-shadow: 0 0 1rem var(--color-button-highlighted);
  opacity: 1;
}
div.buttons button.center,
div.ui ul.center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  text-align: center;
}
div.buttons button.top,
div.ui ul.top {
  bottom: auto;
  top: 0;
}
div.buttons button.bottom,
div.ui ul.bottom {
  top: auto;
  bottom: 0;
}
div.buttons button.left,
div.ui ul.left {
  right: auto;
  left: 0;
}
div.buttons button.right,
div.ui ul.right {
  left: auto;
  right: 0;
}
